.bio-content {
	margin: 0 auto;
	position: relative;
	width: 93%;
}

.bio-pic {
	float: left;
	margin-right: 15px;
}

.bio-text {
	font-size: 18px;
	font-family: "Helvetica";
	position: relative;
	line-height: 1.6;
	margin-bottom: 20px;
}
.bio-content:nth-child(2):first-letter {
	font-size: 32px;
	line-height: 1em;
}

@media #{$xsmall} {
	.bio-content {
		margin: 10px auto;
		padding-bottom: 10px;
		width: 98%;
	}
	.bio-pic {
		float: none;
		width: 300px;		
		margin: 0 auto;
		display: block;		
	}
	.bio-text {
		font-size: 14px;
		line-height: 1.3;
		margin: 0 auto 0 3%;
	}
}

@media #{$small} {
	.bio-content {
		margin: 40px auto;
		width: 93%;
	}
	.bio-pic {
		float: none;
		width: 400px;		
		margin: 0 auto;
		display: block;		
	}
	.bio-text {
		line-height: 1.2;
		margin: 10px;
	}
}	

@media #{$medium} {
	.bio-content {
		top: 50px;
		padding-bottom: 10px;
		width: 88%;
	}
}

@media #{$large} {
	.bio-content {
		top: 50px;
		padding-bottom: 10px;
	}	
}