.bio-content {
	margin: 30px auto;
	padding-bottom: 50px;
	display: block;
	position: absolute;
	width: 1200px;
}

.bio-pic {
	float: left;
	margin-right: 15px;
}

.bio-text {
	font-size: 18px;
	font-family: "Helvetica";
	position: relative;
	line-height: 1.6;
	margin-bottom: 20px;
}
.bio-content:nth-child(2):first-letter {
	font-size: 32px;
	line-height: 1em;
}