.social-icons-sm {
	position: absolute;
	ul {
		width: 520px;
		margin-top: 501px;
		margin-bottom: 20px;
		padding-left: 339px;
		li {
			list-style: none;
			display: inline;
		}
		img {
			width: 100px;
		}	
		img:hover {
			@include scale(1.2);
		}
	}
}
@media #{$phones} {
	.social-icons-sm {
		margin: 0 auto;
		top: 60.5%;
		width: 100%;
		ul {
			width: 316px;
			margin: 0 auto;
			padding: 0;		
			img {
				width: 60px;
			}
		}
	}
}	