.contact-social {
	position: relative;
	width: 521px;
	margin: 0 auto;
	top: 480px;
	ul {
		li {
			list-style: none;
			display: inline;
		}
		img {
			width: 100px;
		}	
		img:hover {
			@include scale(1.2);
		}
	}
}

@media #{$xsmall} {
	.contact-social {
		width: 316px;		
		top: 330px;	
		ul {
			img {
				width: 60px;
			}	
		}
	}
}

@media #{$small} {
	.contact-social {		
		top: 550px;	
	}
}

@media #{$medium} {
	.contact-social {		
		top: 555px;	
	}
}

@media #{$large} {
	.contact-social {		
		top: 585px;	
	}
}	