.navbar {
	margin: 35px auto;
	background-color: $offwhite;
	border-radius: 4px;
	position: relative;
	min-height: 50px;
	border: 1px solid transparent;
	width: 95%;
	left: auto;
}
.navbar-header {
	float: left;
	.navbar-title {
		float: right;
		padding: 15px 15px;
		font-size: 22px;
		line-height: 20px;
		text-decoration: none;
		background: transparent;
		position: absolute;
		left: 63px;
	}
	&:before {
		width: 90px;
		height: 50px;
		content: " ";
		background: url(/img/icons/deer-navbar.png);
		display: block;
		position: absolute;
		float: left;
		left: -10px;
	}
}
.navbar-collapse {
	border-color: $grey;
	display: block;
	height: auto;
	padding-bottom: 0;
	overflow: visible;
	width: auto;
	border-top: 0;
	box-shadow: none;
	max-height: 340px;
	padding-right: 0;
	padding-left: 15px;
	ul {
		float: right;
		margin: 0;
		padding-left: 0;
		list-style: none;
		height: 50px;
		right: 0;
		li {
			float: left;
			position: relative;
			display: block;
			height: 50px;
			:hover {
				background-color: $grey;
			}
			a {
				color: #777777;
				padding: 15px 12px;
				line-height: 20px;
				display: block;
			}
		}
		.active {
			color: #555555;
			background-color: $grey;
		}
	}
}

@media #{$xsmall} {
	.navbar {
		width: 98%;
		margin: auto;
		top: 4px;
	}
	.navbar-header {
		.navbar-title {
			font-size: 16px;
		}
	}	
	.navbar-collapse {
		display: none;
	}
}

@media #{$small} {
	.navbar {
		width: 90%;
		margin: 0 auto;
		top: 30px;
	}
	.navbar-collapse {
		display: none;
	}	
}

@media #{$medium} {
	.navbar {
		width: 90%;
		margin: 0 auto;
		top: 30px;
	}
	.navbar-collapse {
		display: none;
	}	
}

@media #{$large} {
	.navbar {
		margin: 0 auto;
		top: 25px;
	}
	.navbar-header {
		.navbar-title {
			font-size: 18px;
		}
	}
	.navbar-collapse {
		font-size: 12px;
		ul > li > a {
			padding: 15px 10px;
		}
	}		
}





