.navbar {
	margin-bottom: 20px;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-radius: 4px;
	position: relative;
	min-height: 50px;
	border: 1px solid transparent;
	width: 1350px;
	left: -75px;
}
.navbar-header {
	float: left;
	.navbar-title {
		color: #777777;
		float: right;
		padding: 15px 15px;
		font-size: 22px;
		line-height: 20px;
		text-decoration: none;
		background: transparent;
		position: absolute;
		left: 63px;
	}
	&:before {
		width: 90px;
		height: 50px;
		content: " ";
		background: url(/img/icons/deer-navbar.png);
		display: block;
		position: absolute;
		float: left;
		left: -10px;
	}
}
.navbar-collapse {
	border-color: #e7e7e7;
	display: block;
	height: auto;
	padding-bottom: 0;
	overflow: visible;
	width: auto;
	border-top: 0;
	box-shadow: none;
	max-height: 340px;
	padding-right: 0;
	padding-left: 15px;
	ul {
		float: right;
		margin: 0;
		padding-left: 0;
		list-style: none;
		height: 50px;
		right: 0;
		li {
			float: left;
			position: relative;
			display: block;
			height: 50px;
			:hover {
				background-color: #e7e7e7;
			}
			a {
				color: #777777;
				padding: 15px;
				line-height: 20px;
				display: block;
			}
		}
		.active {
			color: #555555;
			background-color: #e7e7e7;
		}
	}
}

@media #{$phones} {
	.navbar {
		display: none;
	}
}