.navbar-home {
	display: none;
	margin: 35px auto;
	background-color: $offwhite;
	border-radius: 4px;
	position: relative;
	min-height: 50px;
	border: 1px solid transparent;
	width: 95%;
	left: auto;
	z-index: 200;
}
.navbar-header-home {
	float: left;
	.navbar-title {
		padding: 15px 15px;
		font-size: 22px;
		line-height: 20px;
		text-decoration: none;
		background: transparent;
		position: absolute;
	}
}
.navbar-collapse-home {
	border-color: $grey;
	display: block;
	height: auto;
	padding-bottom: 0;
	overflow: visible;
	width: auto;
	border-top: 0;
	box-shadow: none;
	max-height: 340px;
	padding-right: 0;
	padding-left: 15px;
	ul {
		float: right;
		margin: 0;
		padding-left: 0;
		list-style: none;
		height: 50px;
		right: 0;
		li {
			float: left;
			position: relative;
			display: block;
			height: 50px;
			:hover {
				background-color: $grey;
			}
			a {
				color: #777777;
				padding: 15px 12px;
				line-height: 20px;
				display: block;
			}
		}
		.active {
			color: #555555;
			background-color: $grey;
		}
	}
}

@media #{$xsmall} {
	.navbar-home {
		display: block;
		width: 100%;
		margin: auto;
		border-radius: 0;
	}
	.navbar-header-home {
		.navbar-title {
			font-size: 16px;
		}
	}	
	.navbar-collapse-home {
		display: none;
	}
}

@media #{$small} {
	.navbar-home {
		display: block;
		width: 100%;
		margin: 0 auto;
		border-radius: 0;
	}
	.navbar-collapse-home {
		display: none;
	}	
}

@media #{$medium} {
	.navbar-home {
		display: block;
		width: 90%;
		margin: 0 auto;
		top: 30px;
	}
	.navbar-collapse-home {
		display: none;
	}	
}