* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $background;
}

@font-face {
	font-family: 'Engravers MT';
	src: url('/fonts/engravers_mt.eot');
	src: url('/fonts/engravers_mt.woff') format('woff'),
		 url('/fonts/engravers_mt.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal;
}

a, li {
	text-decoration: none;
	font-family: "Engravers MT";
	color: $paleGreen;
}

.container {
	width: 100%;
	min-height: 100%;
	height: auto;
}

.content {
	width: 100%;
}

footer {
	font-family: "Engravers MT";
	color: $paleGreen;
	position: fixed;
	left: 22px;
	bottom: 35px;
}

.top, .right, .bottom, .left {
	background-color: $white;
	position: fixed;
	z-index: 1000;
}
.left, .right {
	top: 0;
	bottom: 0;
	width: 20px;
}
.top, .bottom {
	left: 0;
	right: 0;
	height: 20px;
}
.top {
	top: 0;
}
.right {
	right: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}

@media #{$xsmall} {
	.top, .right, .bottom, .left, footer {
		display: none;
	}
}

@media #{$small} {
	.top, .right, .bottom, .left, footer {
		display: none;
	}
}   	