* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $background;
}

a, li {
	text-decoration: none;
	font-family: "Engravers MT";
	color: $paleGreen;
}

.container {
	width: 1200px;
	padding: 40px 0 0;
	min-height: 100%;
	height: auto;
	margin: 0 auto -344px;
}

@media #{$phones}, #{$tablets-port} {
	.container {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

.content {
	width: 100%;
}

footer {
	font-family: "Engravers MT";
	color: $paleGreen;
	position: absolute;
	left: 22px;
	bottom: -35px;
}

.top, .right, .bottom, .left {
	background-color: $white;
	position: fixed;
	z-index: 15;
}
.left, .right {
	top: 0;
	bottom: 0;
	width: 20px;
}
.top, .bottom {
	left: 0;
	right: 0;
	height: 20px;
}
.top {
	top: 0;
}
.right {
	right: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
@media #{$phones} {
	.top, .right, .bottom, .left, footer {
		display: none;
	}
}  	