.social-icons {
	ul {
		margin-top: 170px;
		margin-left: 40px;
		li {
			list-style: none;
			float: left;
		}
		img {
			width: 225px;
		}
		img:hover {
			@include scale(1.1);
		}
	}
}

@media #{$xsmall} {
	.social-icons {
		margin-top: 20px;
		ul {
			margin: 0;
			li {
				float: none;
				position: absolute;
			}
			img {
				width: 75px;
			}
			.facebook {
				margin: auto 0 auto 38%;
			}
			.twitter {
				margin: 17% 0 auto 58%;
			}
			.instagram {
				margin: 40% 0 auto 51%;
			}
			.pinterest {
				margin: 40% 0 auto 25%;
			}
			.youtube {
				margin: 17% 0 auto 18%;
			}
		}
	}
}
