.social-icons {
	ul {
		width: 1141px;
		margin: 170px auto;
		li {
			list-style: none;
			display: inline-block;
		}
		img {
			width: 225px;
		}
		img:hover {
			@include scale(1.1);
		}
	}
}

@media #{$xsmall} {
	.social-icons {
		ul {
			width: 316px;
			margin: 70px auto;
			img {
				width: 60px;
			}
			img:hover {
				@include scale(1.0);
			}			
		}
	}
}

@media #{$small} {
	.social-icons {
		ul {
			width: 561px;
			margin: 70px auto;			
			img {
				width: 109px;
			}
			img:hover {
				@include scale(1.0);
			}	
		}
	}
}

@media #{$medium} {
	.social-icons {
		ul {
			width: 717px;
			img {
				width: 140px;
			}
			img:hover {
				@include scale(1.0);
			}				
		}
	}
}

@media #{$large} {
	.social-icons {
		ul {
			width: 918px;
			img {
				width: 180px;
			}
		}
	}
}


