@import "compass";
@import "compass/css3/transition";

$phones: "only screen and (max-width: 480px)";
$tablets: "only screen and (max-width: 768px)";

$paleGreen: #85826b;
$paleYellow: #dcd292;
$white: #ffffff;


body {
	background-color: #d4c3a3;
}

a {
	text-decoration: none;
	font-family: "Engravers MT";
	color: $paleGreen;
}
.container {
	width: 1200px;
	padding: 40px 0 0;
	min-height: 100%;
	height: auto;
	margin: 0 auto -344px;
	// ### MOBILE NAV AND MENU BUTTON ### 
	.mobile-nav {
		display: none;
	}
	@media #{$phones} {
		.mobile-nav {
			display: none;
			z-index: 1000;
			width: 300px;
			height: 500px;
			margin: 0 auto;
			.menu-icon{
				&:before {
	        		content: "\2261";
	        		font-size: 4em;
	        		color: $paleGreen;
	      		}
			    display: block;
			    position: absolute;
			    padding: 0 132.5px;
			    margin: 0 auto;
			    top: -15px;
			    z-index: 1000;
			}
			ul {
				display: none;

				li {
					float:	none;
					display: block;
					margin: 0;
					padding: 0;
				}
			}
			.mobile-title {
				font-size: 24px;
				font-family: "Engravers MT";
				width: 300px;
				margin: 200px auto 0 auto;
				color: $paleGreen;
				text-align: center;
			}
		}
		.mobile-nav.is-tapped  > ul {
			display:  block;
			position: absolute;
			margin: 0;
			right: 0;
			top: 0;
			z-index: 100;
			padding-top: 40px;
			width: 100%;
			background: rgba(255,255,255,.7);
			a {
				@include box-sizing(border-box);
				width: 100%;
				display: block;
				padding: 10px 20px;
				height: auto;
				color: $paleGreen;
				font-size: 18px;
				line-height: 20px;
				font-family: "Impact";
				text-align: center;
				text-decoration: none;  
				-webkit-font-smoothing: antialiased;
			}
		}	
		@media #{$phones} {
			.mobile-nav {
				display: block;
			}
		}				
	}
	//## END MOBILE NAV
	nav {
		font-size: 16px;
		margin: 0 141px 0 141px;
		height: 922px;
		width: 918px;
		overflow: auto;
		position: absolute;
		z-index: 10;
		.nav-button {
			display: none;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				float: left;
				list-style: none;
				position: absolute;
			}	
			.michaelKelly {
				top: 185px;
				left: 154px;
				text-align: center;
				a{
					color: $paleYellow;
				}
			}
			.videos {
				top: 308px;
				left: 441px;
			}
			.photographs{
				top: 300px;
				left: 659px;
			}
			.social {
				top: 490px;
				left: 750px;
			}
			.download {
				top: 720px;
				left: 660px;
			}
			.contact {
				top: 605px;
				left: 415px;
			}
			.ribs {
				top: 697px;
				left: 250px;
			}
			.listen {
				top: 552px;
				left: 143px;
			}
			.bio {
				top: 430px;
				left: 110px;
			}
			a:hover {
				color: #847930; /* pick color */
				text-decoration: none;
			}
		}
	}
	@media #{$phones} {
		nav {
			display: none;
		}
	}
	.deer-home {
		width: 918px;
		margin: 0 auto;
		overflow: auto;
		z-index: 10;
		img {
			width: 100%;
		}
	}
	@media #{$phones} {
		.deer-home {
			display: none;
		}
	}
	.deer {
		width: 300px;
		margin: 0 auto;
		overflow: auto;
		z-index: 10;
		display: none;
		position: absolute;
		top: -35px;
		img {
			width: 90%;
		}
	}
	@media #{$phones} {
		.deer {
			display: block;
		}	
	}
}
@media #{$phones} {
	.container {
		width: 300px;
		padding: 0;
		margin: 0 auto;
	}
}

.top, .right, .bottom, .left {
	background-color: $white;
	position: fixed;
	z-index: 15;
}
.left, .right {
	top: 0;
	bottom: 0;
	width: 20px;
}
.top, .bottom {
	left: 0;
	right: 0;
	height: 20px;
}
.top {
	top: 0;
}
.right {
	right: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
@media #{$phones} {
	.top, .right, .bottom, .left {
		display: none;
	}
}  	

